.card-container {
  max-width: 400px;
}

.header-image {
  background-image: url("../../assets/acnh-leaf.png");
  background-size: cover;
}

.player-controls {
  display: flex;
  justify-content: center;
}
