<mat-card class="card-container">
  <mat-card-header>
    <div mat-card-avatar id="header-image"></div>
    <mat-card-title>Animal Crossing: New Horizons</mat-card-title>
    <mat-card-subtitle>K.K. Slider music player</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="../../assets/acnh-leaf.png"
    alt="Animal Crossing Leaf icon"
  />
  <mat-card-content>
    <p>
      Song information will go here. K.K. Slider album cover will go above.
      Player controls will go below.
    </p>
  </mat-card-content>
  <mat-card-actions class="player-controls">
    <button mat-button>PREV</button>
    <button mat-button>PLAY</button>
    <button mat-button>NEXT</button>
  </mat-card-actions>
</mat-card>
