<mat-card class="card-container frost">
  <mat-card-header>
    <div mat-card-avatar id="header-image"></div>
    <mat-card-title>Animal Crossing:<br />New Horizons</mat-card-title>
    <mat-card-subtitle>K.K. Slider music player</mat-card-subtitle>
  </mat-card-header>

  <mat-form-field id="song-selector" appearance="fill">
    <mat-label>Song selection</mat-label>
    <mat-select disableOptionCentering [(value)]="currentSong">
      <mat-option *ngFor="let song of songObjs" [value]="song">
        {{ song.id + ". " + song.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="img-container">
    <img
      id="album-cover"
      mat-card-image
      src="{{ currentSong.image_uri }}"
      alt="{{ currentSong.name }} album cover"
    />
  </div>

  <mat-card-content>
    <p id="song-name">{{ currentSong.name }}</p>
  </mat-card-content>

  <mat-card-actions id="player-container">
    <audio id="player-controls" controls src="{{ currentSong.music_uri }}">
      Your browser does not support the
      <code>audio</code> element.
    </audio>
  </mat-card-actions>
</mat-card>
