<mat-card class="card-container">
  <mat-card-header>
    <div mat-card-avatar id="header-image"></div>
    <mat-card-title>Animal Crossing: New Horizons</mat-card-title>
    <mat-card-subtitle>K.K. Slider music player</mat-card-subtitle>
  </mat-card-header>

  <mat-form-field id="song-selector" appearance="fill">
    <mat-label>Song selection</mat-label>
    <mat-select disableOptionCentering>
      <mat-option *ngFor="let song of songs" [value]="song.name">
        {{ song.id + ". " + song.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <img
    mat-card-image
    src="{{ currentSong.image_uri }}"
    alt="{{ currentSong.name }} album cover"
  />

  <mat-card-content>
    <p>{{ currentSong.name }}</p>
  </mat-card-content>

  <mat-card-actions class="player-controls">
    <button mat-button>PREV</button>
    <button mat-button>PLAY</button>
    <button mat-button>NEXT</button>
  </mat-card-actions>
</mat-card>
