<mat-card class="card-container glass">
  <mat-card-header>
    <div mat-card-avatar id="header-image"></div>
    <mat-card-title>Animal Crossing:<br />New Horizons</mat-card-title>
    <mat-card-subtitle>K.K. Slider music player</mat-card-subtitle>
  </mat-card-header>

  <mat-form-field id="song-selector" appearance="fill">
    <mat-label>Playlist</mat-label>
    <mat-select disableOptionCentering [(value)]="currentSong">
      <mat-option
        *ngFor="let song of songObjs"
        [value]="song"
        (click)="selectSong(currentSong)"
      >
        {{ song.id + ". " + song.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="img-container">
    <img
      id="album-cover"
      mat-card-image
      src="{{ currentSong.image_uri }}"
      alt="{{ currentSong.name }} album cover"
    />
  </div>

  <mat-card-content>
    <p id="song-name">{{ currentSong.name }}</p>
  </mat-card-content>

  <mat-card-actions id="player-container">
    <mat-icon (click)="prevSong()">skip_previous</mat-icon>

    <!-- Play/Pause button -->
    <mat-icon *ngIf="!getAudioState().isPlaying" (click)="play()"
      >play_circle_outline</mat-icon
    >
    <mat-icon *ngIf="getAudioState().isPlaying" (click)="pause()"
      >pause_circle_outline</mat-icon
    >

    <mat-icon (click)="nextSong()">skip_next</mat-icon>

    <mat-icon
      id="shuffle-icon"
      (click)="toggleShuffle()"
      [ngClass]="!getAudioState().shuffleMode ? 'faded' : ''"
      >shuffle</mat-icon
    >
  </mat-card-actions>
</mat-card>
