.glass {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 8px 32px 0 rgba(0, 60, 3, 0.5);
  border-radius: 8px;
  border: 1px solid rgba(160, 160, 160, 0.18);
  backdrop-filter: blur(2px);
}

.card-container {
  max-width: 288px;
  overflow: hidden;
}

#header-image {
  border-radius: 4px;
  background-image: url("../../../assets/images/acnh-leaf.png");
  background-size: cover;
}

#song-selector {
  display: block;
}

.img-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
}

#album-cover {
  border-radius: 4px;
  max-width: 288px;
  height: auto;
  margin: 0;
  padding: 0;
}

.mat-card-content,
.mat-card-actions {
  display: flex;
  justify-content: center;
}

#song-name {
  font-size: 20px;
}

#player-container {
  padding: 0;
  margin: 0;
}

.mat-icon:hover {
  cursor: pointer;
}

.faded {
  color: rgb(150, 150, 150);
}

#shuffle-icon {
  position: absolute;
  right: 16px;
  bottom: 16px;
}
