.glass {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 8px 32px 0 rgba(0, 60, 3, 0.5);
  border-radius: 8px;
  border: 1px solid rgba(160, 160, 160, 0.18);
}

.card {
  min-width: 288px;
  overflow: hidden;
}

#header-image {
  border-radius: 4px;
  background-image: url("../../../assets/images/acnh-leaf.png");
  background-size: cover;
}

#song-selector {
  display: block;
}

.img-container {
  min-width: 288px;
  min-height: 288px;
  height: 25vw;
  width: 25vw;
  display: flex;
  justify-content: center;
}

#album-cover {
  border-radius: 4px;
  margin: 0;
  padding: 0;
}

.controls-container {
  display: grid;
}

// PLAYBACK SLIDER
.playback-controls {
  display: block;
  margin: 0;
  padding: 0;
}

#playback-slider {
  float: left;
  width: 70%;
}

#playback-label {
  position: absolute;
  right: 16px;
  bottom: 53px;
}

// SONG CONTROL ICONS
.song-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.mat-icon {
  margin: auto 5px;
  transform: scale(1.2);
}

.mat-icon:hover {
  cursor: pointer;
  transform: scale(1.4);
}

.faded {
  color: rgb(150, 150, 150);
}

#shuffle-icon {
  position: absolute;
  left: 16px;
  bottom: 16px;
}

#loop-icon {
  position: absolute;
  left: 50px;
  bottom: 16px;
}

#volume-slider {
  border-radius: 10px;
  background-color: rgba(150, 150, 150, 0.8);
  position: absolute;
  right: 5px;
  bottom: 40px;
}

.volume {
  position: absolute;
  right: 16px;
  bottom: 16px;
}
