/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "ac-fink-heavy";
  src: url("../src/assets/fonts/FinkHeavy.otf");
}

* {
  font-family: "ac-fink-heavy";
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("/assets/images/Animal-crossing-1.jpg");
}
